sudo: required
language: node_js
node_js:
  - 8
services:
  - docker

before_install:
  - docker build -t ihabyoussef/jobs-search -f Dockerfile.dev .

script:
  - docker run ihabyoussef/jobs-search npm run test
