version: "3"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 3000:3000
    stdin_open: true
    volumes:
      - "/app/node_modules"
      - ".:/app"
    environment:
      - CHOKIDAR_USEPOLLING=true
  test:
    build:
      context: .
      dockerfile: Dockerfile.dev
    stdin_open: true
    volumes:
      - "/app/node_modules"
      - ".:/app"
    command: ["npm", "run", "test"]
    environment:
      - CHOKIDAR_USEPOLLING=true
